<div class="text-center">
    <h1>Error</h1>
    <h2 class="text-red">@ViewBag.ExceptionType</h2>
    <h2>@ViewBag.ExceptionMessage</h2>

    <img src="~/error.svg" alt="error" width="400px" style="margin-top: 100px" />
</div>
